<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
        .block-border {
            border: 1px solid #000;
            flex:1;
        }

        .h-100 {
            height: 100px;
        }

        .flex-container {
            display: flex;
        }
    </style>
</head>

<body>
    <h1>flex 布局按照列排布会出现各列高度不相等情况</h1>
    <div class="flex-container">
        <div class="block-border">
            <p>第一列</p>
        </div>
        <div class="block-border">
            <p class="h-100">第一列</p>
            <p>第二列</p>
        </div>

        <div class="block-border">
            <p class="h-100"> 第一列</p>
            <p>第二列</p>
        </div>
    </div>
</body>

</html>