<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .inline-container {
        display: table;
        text-align: center;
        height: 200px;
        width: 100%;
        border: 1px solid #000;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
    }
</style>

<body>
    <p>采用 table 布局实现多行文本垂直居中对齐</p>
    <div class="inline-container">
        <p class="content">
            多行文本1<br>
            多行文本2<br>
        </p>
    </div>
</body>


</html>